.statistic {
    display: flex;
justify-content: center;    gap: 20px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;

    padding-left: 20px;
    padding-right: 20px;
}

.statisticList{
    list-style: none;
}

.statisticItem{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.itemResult{
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;  
    font-weight: 600;
}